<div class="col-12 p-0">
    <p-card [style]="{width: '20rem',height: '60rem','border-radius': '20px'}">
        <span class="col-12 p-3 text-menu">Menu</span>
        <div class="col-12 mt-3">
            <span class="col-12 p-3 cursor-pointer" routerLink="/dashboard">Dashboard</span>
        </div>
        <div class="col-12">
            <span class="col-12 p-3 cursor-pointer" routerLink="/history">Histórico</span>
        </div>
        <div class="col-12">
            <span class="col-12 p-3 cursor-pointer" routerLink="/account">Meus dados</span>
        </div>
        <div class="col-12">
            <span class="col-12 p-3 cursor-pointer" routerLink="/next-consults">Consultas agendadas</span>
        </div>
        <div class="col-12">
            <span class="col-12 p-3 cursor-pointer" routerLink="/feedbacks">Feedbacks</span>
        </div>
    </p-card>
</div>