<div class="dashboard-component">
    <div class="col-12 p-0 inline-flex">
        <div class="col-2 p-4 height-component">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-4 height-component">
            <div class="col-12 p-0">
                <p-card [style]="{width: '100%',height: '60rem','border-radius': '20px'}">
                    <div class="col-12">
                        <span class="wellcome"> Bem vindo {{user.name}}</span>
                    </div>
                    <div class="col-12 flex flex-column align-items-center justify-content-center height-dashboard">
                        <img src="assets/layout/images/hackathon/constructing-dashboard.svg" height="300" width="400">
                        <span class="text-building">Ainda estamos construindo essa parte, em breve você terá novidades.</span>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>