@import "~swiper/css";
@import "~swiper/css/pagination";

#start-component {

  .image-pet {
    background-repeat: no-repeat;
    width: 100%;
    height: 60rem;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(to right, white 40%, transparent 80%),
    url("../../../../assets/layout/images/univet/dog3.jpeg");
  }

  .swiper .swiper-pagination {
    display: none !important;
  }


}

