@import "~swiper/css";
@import "~swiper/css/pagination";

#start-component {

  .image-pet {
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(to right, white 40%, transparent 80%),
    url("../../../../assets/layout/images/univet/dog3.jpeg");
  }

  .swiper .swiper-pagination {
    display: none !important;
  }

  .font-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .font-subtitle {
    font-size: 1.5rem;
  }

  .color-orange {
    color: orange;
  }

  .consult-now {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
  }

  .consult-now-subtitle {
    color: white;
    font-size: 1.2rem;
    padding-left: 2rem;
  }

  .input-start {
    border-radius: 20px;
  }

  .button-search {
    padding-right: 2.5rem;
    padding-top: 1rem;
  }


}

