//@import "~swiper/css";
//@import "~swiper/css/pagination";

#start-component {

  .image-pet {
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(to right, white 40%, transparent 80%),
    url("../../../../assets/layout/images/univet/dog3.jpeg");
  }

  .swiper .swiper-pagination {
    display: none !important;
  }

  .font-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .font-subtitle {
    font-size: 1.5rem;
  }

  .color-orange {
    color: orange;
  }

  .consult-now {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
  }

  .consult-now-subtitle {
    color: white;
    font-size: 1.2rem;
    padding-left: 2rem;
  }

  .input-start {
    border-radius: 20px;
  }

  .button-search {
    padding-right: 2.5rem;
    padding-top: 1rem;
  }

  .font-subtitle2 {
    font-size: 1.2rem;
  }

  .p-card .p-card-content {
    padding: 0;
  }

  .image-explain {
    border-radius: 16px;
  }

  .image1 {
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-size: cover;
    background-image: url("../../../../assets/layout/images/univet/cat1.webp");
  }

  .image2 {
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-size: cover;
    background-image: url("../../../../assets/layout/images/univet/dog5.png");
  }

  .image3 {
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-size: cover;
    background-image: url("../../../../assets/layout/images/univet/dog6.jpg");
  }

  .image4 {
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-size: cover;
    background-image: url("../../../../assets/layout/images/univet/dog7.webp");
  }

  .image5 {
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-size: cover;
    background-image: url("../../../../assets/layout/images/univet/cat2.png");
  }

  .image6 {
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-size: cover;
    background-image: url("../../../../assets/layout/images/univet/cat3.jpg");
  }

  .title-card {
    font-size: 2.5rem;
    color: #02a775;
  }

}

