<div id="start-component">
    <div class="col-12 p-0 image-pet">
        <div class="col-6 p-0 pt-8 flex flex-column align-items-center">
            <div class="pb-4">
                <div>
                    <span class="font-title">Cuide da saúde do <span
                            class="color-orange">seu melhor amigo!</span></span>
                </div>
                <div>
                    <span class="font-subtitle">Aqui você encontra os melhores médicos e serviços da saúde a preços acessíveis.</span>
                </div>
            </div>

            <p-card [style]="{'width': '60rem' ,'background-color': '#02a775' , 'height': '15rem' ,'border-radius':' 30px'}">

                <div class="col-12 p-0">
                    <span class="consult-now">Agende agora sua consulta</span>
                </div>
                <div class="col-12 p-0">
                    <span class="consult-now-subtitle">Mais de 10 especialistas de saúde de pet estão prontos para te ajudar</span>
                </div>

                <div class="col-12 p-0 pt-4 inline-flex justify-content-around">
                    <div class="col-5 p-0">
                        <input type="text" class="input-start" placeholder="Nome, Especialidade ou serviço" pInputText/>
                    </div>
                    <div class="col-5 p-0">
                        <input type="text" class="input-start" placeholder="Localização" pInputText/>
                    </div>
                </div>
                <div class="col-12 p-0 flex justify-content-end">
                    <p-button label="Pesquisar" icon="pi pi-search" class="button-search" iconPos="right"></p-button>
                </div>
            </p-card>
        </div>
        <div class="col-6 p-0"></div>
    </div>
    <div class="col-12 pt-4 flex flex-column p-0 align-items-center">
        <div class="col-5 p-0 flex justify-content-center">
            <span class="font-title">Somos um novo conceito em saúde do seu pet!</span>
        </div>
        <div class="col-5 p-0 flex justify-content-center">
            <span class="font-subtitle2 text-center">
                A PaPet é uma plataforma que oferece consultas e exames para o seu pet de forma segura e prática, através de agendamento on-line, além de oferecer muitos outros benefícios!
            </span>
        </div>
    </div>
    <div class="col-12 p-0 flex justify-content-around pt-5">
        <div class="col-3">
            <p-card [style]="{'width': '100%'}">
                <div class="image1">
                    <span class="title-card"><strong>Escolha seu médico</strong></span>
                </div>
            </p-card>
        </div>


        <div class="col-3">
            <p-card [style]="{'width': '100%'}">
                <div class="image2">
                    <span class="title-card"><strong>Todo o prontuário do seu pet na palma da mão</strong></span>
                </div>
            </p-card>
        </div>

        <div class="col-3">
            <p-card [style]="{'width': '100%'}">
                <div class="image3">
                    <span class="title-card"><strong>Não tem mensalidade</strong></span>
                </div>
            </p-card>
        </div>

    </div>

    <div class="col-12 p-0 pt-4 flex justify-content-around pt-5">
        <div class="col-3">
            <p-card [style]="{'width': '100%'}">
                <div class="image4">
                    <span class="title-card"><strong>Marcar consultas</strong></span>
                </div>
            </p-card>
        </div>

        <div class="col-3">
            <p-card [style]="{'width': '100%'}">
                <div class="image5">
                    <span class="title-card"><strong>Histórico de consultas anteriores</strong></span>
                </div>
            </p-card>
        </div>

        <div class="col-3">
            <p-card [style]="{'width': '100%'}">
                <div class="image6">
                    <span class="title-card"><strong>Toda a vida do seu pet em um único sistema</strong></span>
                </div>
            </p-card>
        </div>
    </div>


</div>