<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/start">
        <img src="assets/layout/images/univet/Papet-Name.png" class="logo">
        <img src="assets/layout/images/univet/Papet-logo.png" class="logo">
    </a>
    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <button *ngIf="showButtonsLogin" pButton pRipple type="button" routerLink="/login" label="Entrar"
                class="p-button-rounded p-button-success mr-3"></button>
        <button *ngIf="showButtonsLogin" pButton pRipple type="button" label="Registrar" routerLink="/register"
                class="p-button-outlined p-button-rounded p-button-success"></button>
        <button *ngIf="!showButtonsLogin" pButton pRipple type="button" label="Sair" (click)="logout()"
                class="p-button-outlined p-button-rounded p-button-danger"></button>
    </div>
</div>
