#list-professionals {

  .price {
    font-size: 1.2rem;
  }

  #calendar1 {
    .p-calendar {
      width: 100%;
    }
  }

  #calendar2 {
    .p-calendar {
      width: 100%;
    }
  }

  .search-text{
    font-size: 1.4rem;
    font-weight: bold;
  }

  #calendar-professional {
    .p-calendar {
      width: 98%;
    }
  }


}