/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

//My class
::ng-deep .p-inputtext {
  width: 100%;
}

::ng-deep .p-multiselect {
  width: 100%;
}

.insideeee {
  height: 3rem !important;
  width: 3rem !important;
  border-radius: 50% !important;
  margin-right: 0 !important;
}

.microsoft-text {
  font-size: 2rem;
}

body::-webkit-scrollbar {
  display: none;
}

.text-building {
  font-size: 2rem;
  font-weight: bold;
}

.height-dashboard {
  height: 45rem;
}

.wellcome {
  font-size: 2rem;
  font-weight: bold;
}

.font-email {
  font-size: 1.5rem;
}

.font-title {
  font-size: 2rem;
  font-weight: bold;
}

.p-dropdown {
  width: 100%;
}