<div class="feedbacks-component">
    <div class="col-12 p-0 inline-flex">
        <div class="col-2 p-4 height-component">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-4 height-component">
            <div class="col-12 p-0">
                <p-card [style]="{width: '100%',height: '60rem','border-radius': '20px'}">
                    <div class="col-12">
                        <span class="font-title">Alertas</span>
                    </div>
                    <div class="col-12">
                        <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>