<div id="register-component"
     class="surface-0 flex align-items-center justify-content-center min-h-screen colorBackground min-w-screen overflow-hidden">
    <div class="grid justify-content-center" style="min-width:80%">
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background-color: white ; ">
            <div class="h-full w-full m-0">
                <div class="w-full md:w-10 mx-auto mb-5">
                    <div class="text-center inline-flex w-full justify-content-center align-items-center mt-3">
                        <span class="microsoft-text">Registrar </span>
                    </div>

                    <div class="field col-12 pl-0 pr-0 mt-6">
                        <span class="p-float-label">
                            <input type="text" id="name" pInputText [(ngModel)]="name" class="inputs">
                            <label for="name" class="textInputs">Nome completo</label>
                        </span>
                    </div>
                    <div class="field col-12 pl-0 pr-0 ">
                        <span class="p-float-label">
                            <input type="text" id="cpf" [(ngModel)]="cpf" pInputText class="inputs">
                            <label for="cpf" class="textInputs">CPF</label>
                        </span>
                    </div>
                    <div class="field col-12 pl-0 pr-0 ">
                        <span class="p-float-label">
                            <input type="text" id="telefone" [(ngModel)]="telefone" pInputText class="inputs">
                            <label for="telefone" class="textInputs">Telefone</label>
                        </span>
                    </div>
                    <div class="field col-12 pl-0 pr-0 ">
                        <span class="p-float-label">
                            <p-dropdown id="type" [autoDisplayFirst]="false" [options]="optionsTypes"
                                        [(ngModel)]="selectedType" optionLabel="name"></p-dropdown>
                            <label for="type">Selecione o seu perfil</label>
                        </span>
                    </div>
                    <div class="field col-12 pl-0 pr-0">
                        <span class="p-float-label">
                            <input type="text" id="email" [(ngModel)]="email" pInputText class="inputs">
                            <label for="email" class="textInputs">E-mail</label>
                        </span>
                    </div>
                    <div class="field col-12 pl-0 pr-0">
                        <span class="p-float-label">
                            <input type="text" id="password" [(ngModel)]="password" pInputText class="inputs">
                            <label for="password" class="textInputs">Senha</label>
                        </span>
                    </div>
                    <button pButton pRipple (click)="register()" label="Registrar"
                            class="w-full p-3 text-xl buttonSingin"></button>
                    <div class="col-12 mt-2">
                        <span class="justify-content-center flex cursor-pointer" routerLink="/login">Voltar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
